<%= render 'application/messages' %>

<% if current_config.active? %>
  <%= render 'active' %>
<% else %>
  <div class="alert alert-info">
    <%= I18n.t('messages.exercises_will_be_available_on') %> <b><%= l current_config.start_time, format: :short %></b>
  </div>
<% end %>
