body {
	color: #747474;
}

.navbar {
	@media(min-width: 768px) {
		.navbar-nav.navbar-right {
			margin-right: 15px;
		}
	}
}

#page-header {
	margin-bottom: 25px;

	.title, .actions {
		@media(min-width: 481px) {
			display: inline-block;
		}
	}

	.title {
		h1 {
			font-size: 42px;
			font-weight: 200;
		}
	}

	.actions {
		@media(min-width: 481px) {
			float: right;
			margin-top: 30px;
		}
		@media(max-width: 480px) {
			margin-top: 25px;

			.btn {
				display: block;
				margin-top: 15px;
			}
		}
	}
}

.table {
	th.actions {
		width: 30%;
	}
}

form {
	label {
		color: #686868;
	}
}