body.login {
	background-color: #f8f8f8;

	.logo-header {
		padding-top: 36px;
		padding-bottom: 24px;
		text-align: center;

		svg {
			fill: #333;
		}
	}

	.login-header {
		margin-bottom: 25px;
	    color: #444;
	    text-align: center;

		h1 {
			font-size: 24px;
		    font-weight: 300;
		    letter-spacing: -0.5px;
		    margin: 0px;
		}
	}

	.panel {
		border-radius: 5px;
		padding: 20px;
	    border: 1px solid #e7e7e7;

	    .alert {
	    	margin-bottom: 15px;
	    }

	    form {
	    	label {
	    		color: #333;
	    		font-weight: normal;
	    	}
	    }
	}

	.create-an-account {
	    margin-top: 12px !important;
	    padding: 15px 20px;
	    text-align: center;
	    border: 1px solid #e7e7e7;
	    border-radius: 5px;
	    color: #333;
    }

    .login-width {
	    margin: 0 auto;
		width: 340px;
		max-width: 100%;
    }

    .register-width {
	    margin: 0 auto;
		width: 480px;
		max-width: 100%;
    }

	.login-footer {
	    position: relative;
	    margin-top: 40px;
	    font-size: 12px;
	    line-height: 1.5;
	    color: #767676;

		ul {
			text-align: center;
		    margin: 0;
		    padding: 0;
		    list-style: none;

			li {
			    display: inline-block;
			    line-height: 16px;
			    margin: 0px 5px;

			    a {
			        color: #9b9b9b;
			    }
			}
		}
	}
}