<header id="page-header">
  <div class="title">
    <h1><%= Team.model_name.human(count: 2) %></h1>
  </div>
  <div class="actions">
    <%= link_to I18n.t('actions.new'), new_admin_team_path, class: 'btn btn-default' %>
    <%= link_to I18n.t('actions.list'), admin_teams_path, class: 'btn btn-default' %>
  </div>
</header>
