<h1><%= I18n.t('actions.edit') + ' ' + Exercise.model_name.human %></h1>

<%= render 'form', exercise: @exercise %>

<br>

<%= link_to I18n.t('actions.show'), @exercise, class: 'btn btn-default' %>
<br><br>
<%= link_to I18n.t('actions.back'), exercises_path, class: 'btn btn-default' %>